# Web Scraping Spacex launch data from wikipedia

In [1]:
import sys
import requests
from bs4 import BeautifulSoup
import re
import unicodedata
import pandas as pd

In [2]:
def date_time(table_cells):
    """
    This function returns the data and time from the HTML  table cell
    Input: the  element of a table data cell extracts extra row
    """
    return [data_time.strip() for data_time in list(table_cells.strings)][0:2]

def booster_version(table_cells):
    """
    This function returns the booster version from the HTML  table cell 
    Input: the  element of a table data cell extracts extra row
    """
    out=''.join([booster_version for i,booster_version in enumerate( table_cells.strings) if i%2==0][0:-1])
    return out

def landing_status(table_cells):
    """
    This function returns the landing status from the HTML table cell 
    Input: the  element of a table data cell extracts extra row
    """
    out=[i for i in table_cells.strings][0]
    return out


def get_mass(table_cells):
    mass=unicodedata.normalize("NFKD", table_cells.text).strip()
    if mass:
        mass.find("kg")
        new_mass=mass[0:mass.find("kg")+2]
    else:
        new_mass=0
    return new_mass


def extract_column_from_header(row):
    """
    This function returns the landing status from the HTML table cell 
    Input: the  element of a table data cell extracts extra row
    """
    if (row.br):
        row.br.extract()
    if row.a:
        row.a.extract()
    if row.sup:
        row.sup.extract()
        
    colunm_name = ' '.join(row.contents)
    
    # Filter the digit and empty names
    if not(colunm_name.strip().isdigit()):
        colunm_name = colunm_name.strip()
        return colunm_name

In [3]:
static_url = "https://en.wikipedia.org/w/index.php?title=List_of_Falcon_9_and_Falcon_Heavy_launches&oldid=1027686922"
response = requests.get(static_url)
soup = BeautifulSoup(response.content,'html.parser')
soup.title

## Extracting Column/variable names from HTML table headers

In [4]:
html_tables = list(soup.find_all('table'))
first_launch_table = html_tables[2]
#checking contents
print(first_launch_table.find('tr'))

<tr>
<th scope="col">Flight No.
</th>
<th scope="col">Date and<br/>time (<a href="/wiki/Coordinated_Universal_Time" title="Coordinated Universal Time">UTC</a>)
</th>
<th scope="col"><a href="/wiki/List_of_Falcon_9_first-stage_boosters" title="List of Falcon 9 first-stage boosters">Version,<br/>Booster</a> <sup class="reference" id="cite_ref-booster_11-0"><a href="#cite_note-booster-11">[b]</a></sup>
</th>
<th scope="col">Launch site
</th>
<th scope="col">Payload<sup class="reference" id="cite_ref-Dragon_12-0"><a href="#cite_note-Dragon-12">[c]</a></sup>
</th>
<th scope="col">Payload mass
</th>
<th scope="col">Orbit
</th>
<th scope="col">Customer
</th>
<th scope="col">Launch<br/>outcome
</th>
<th scope="col"><a href="/wiki/Falcon_9_first-stage_landing_tests" title="Falcon 9 first-stage landing tests">Booster<br/>landing</a>
</th></tr>

In [5]:
column_names = []
th = first_launch_table.find_all('th')
for item in th:
    name = extract_column_from_header(item)
    if name is not None and len(name) > 0 :
        column_names.append(name)
print(column_names)

['Flight No.', 'Date and time ( )', 'Launch site', 'Payload', 'Payload mass', 'Orbit', 'Customer', 'Launch outcome']

## Making a DataFrame from the data

In [6]:
launch_dict= dict.fromkeys(column_names)

# Removing irrelvant column
del launch_dict['Date and time ( )']

launch_dict['Flight No.'] = []
launch_dict['Launch site'] = []
launch_dict['Payload'] = []
launch_dict['Payload mass'] = []
launch_dict['Orbit'] = []
launch_dict['Customer'] = []
launch_dict['Launch outcome'] = []
launch_dict['Version Booster']=[]
launch_dict['Booster landing']=[]
launch_dict['Date']=[]
launch_dict['Time']=[]

In [7]:
extracted_row = 0
#Extract each table 
for table_number,table in enumerate(soup.find_all('table',"wikitable plainrowheaders collapsible")):
   # get table row 
    for rows in table.find_all("tr"):
        #check to see if first table heading is as number corresponding to launch a number 
        if rows.th:
            if rows.th.string:
                flight_number=rows.th.string.strip()
                flag=flight_number.isdigit()
        else:
            flag=False
        #get table element 
        row=rows.find_all('td')
        #if it is number save cells in a dictonary 
        if flag:
            extracted_row += 1
            
            launch_dict['Flight No.'].append(flight_number)

            datatimelist=date_time(row[0])   
            date = datatimelist[0].strip(',')
            launch_dict['Date'].append(date)
            
            time = datatimelist[1]
            launch_dict['Time'].append(time)

            bv=booster_version(row[1])
            launch_dict['Version Booster'].append(bv)

            if not(bv):
                bv=row[1].a.string
            print(bv)
                        
            launch_site = row[2].a.string
            launch_dict['Launch site'].append(launch_site)

            payload = row[3].a.string
            launch_dict['Payload'].append(payload)
 
            payload_mass = get_mass(row[4])
            launch_dict['Payload mass'].append(payload_mass)

            orbit = row[5].a.string
            launch_dict['Orbit'].append(orbit)

            customer = row[6].text
            launch_dict['Customer'].append(customer)

            launch_outcome = list(row[7].strings)[0]
            launch_dict['Launch outcome'].append(launch_outcome)

            booster_landing = landing_status(row[8])
            launch_dict['Booster landing'].append(booster_landing)

F9 v1.0B0003.1
F9 v1.0B0004.1
F9 v1.0B0005.1
F9 v1.0B0006.1
F9 v1.0B0007.1
F9 v1.1B1003
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 FT
F9 v1.1
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT♺
F9 FT
F9 FT
F9 FT
F9 FTB1029.2
F9 FT
F9 FT
F9 B4
F9 FT
F9 B4
F9 B4
F9 FTB1031.2
F9 B4
F9 FTB1035.2
F9 FTB1036.2
F9 B4
F9 FTB1032.2
F9 FTB1038.2
F9 B4
F9 B4B1041.2
F9 B4B1039.2
F9 B4
F9 B5B1046.1
F9 B4B1043.2
F9 B4B1040.2
F9 B4B1045.2
F9 B5
F9 B5B1048
F9 B5B1046.2
F9 B5
F9 B5B1048.2
F9 B5B1047.2
F9 B5B1046.3
F9 B5
F9 B5
F9 B5B1049.2
F9 B5B1048.3
F9 B5[268]
F9 B5
F9 B5B1049.3
F9 B5B1051.2
F9 B5B1056.2
F9 B5B1047.3
F9 B5
F9 B5
F9 B5B1056.3
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5B1058.2
F9 B5
F9 B5B1049.6
F9 B5
F9 B5B1060.2
F9 B5B1058.3
F9 B5B1051.6
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5 ♺
F9 B5 ♺
F9 B5 ♺
F9 B5 ♺
F9 B5
F9 B5B1051.8
F9 B5B1058.5
F9 B5 ♺
F9 B5 ♺
F9 B5 ♺
F9 B5 ♺
F9 B5 ♺
F9 B5B1060.6
F9 B5 ♺
F9 B5B1061.2
F9 B5B1060.7
F9 B5B1049.9
F9 B5B1051.10
F9 B5B1058.8
F9 B5B1063.2
F9 B5B1067.1
F9 B5

In [8]:
for key in launch_dict:
    print(len(launch_dict[key]))

121
121
121
121
121
121
121
121
121
121
121

In [9]:
#Checking that they are all there
launch_dict['Customer']

['SpaceX\n',
 '\nNASA (COTS)\nNRO\n\n',
 'NASA (COTS)\n',
 'NASA (CRS)\n',
 'NASA (CRS)\n',
 'MDA\n',
 'SES\n',
 'Thaicom\n',
 'NASA (CRS)\n',
 'Orbcomm\n',
 'AsiaSat\n',
 'AsiaSat\n',
 'NASA (CRS)\n',
 'NASA (CRS)\n',
 '\nUSAF\nNASA\nNOAA\n\n',
 '\nABS\nEutelsat\n\n',
 'NASA (CRS)\n',
 'Turkmenistan NationalSpace Agency[88]\n',
 'NASA (CRS)\n',
 'Orbcomm\n',
 '\nNASA (LSP)\nNOAA\nCNES\n\n',
 'SES\n',
 'NASA (CRS)\n',
 'SKY Perfect JSAT Group\n',
 'Thaicom\n',
 '\nABS\nEutelsat\n\n',
 'NASA (CRS)\n',
 'SKY Perfect JSAT Group\n',
 'Iridium Communications\n',
 'NASA (CRS)\n',
 'EchoStar\n',
 'SES\n',
 'NRO\n',
 'Inmarsat\n',
 'NASA (CRS)\n',
 'Bulsatcom\n',
 'Iridium Communications\n',
 'Intelsat\n',
 'NASA (CRS)\n',
 'NSPO\n',
 'USAF\n',
 'Iridium Communications\n',
 '\nSES S.A.\nEchoStar\n\n',
 'KT Corporation\n',
 'NASA (CRS)\n',
 'Iridium Communications\n',
 'Northrop Grumman [f][238]\n',
 'SES\n',
 '\nHisdesat\nexactEarth\nSpaceX\n\n',
 '\nHispasat[277]\nNovaWurks\n\n',
 'Iridium Communications\n',
 'NASA (CRS)\n',
 'NASA (LSP)\n',
 'Thales-Alenia / BTRC\n',
 '\nIridium Communications\nGFZ\xa0• NASA\n\n',
 'SES\n',
 'NASA (CRS)\n',
 'Telesat\n',
 'Iridium Communications\n',
 'Telkom Indonesia\n',
 'Telesat\n',
 'CONAE\n',
 "Es'hailSat\n",
 'Spaceflight Industries\n',
 'NASA (CRS)\n',
 'USAF\n',
 'Iridium Communications\n',
 '\nPSN\nSpaceIL / IAI\nAir Force Research\n\n',
 ' NASA (CCD) \n',
 'NASA (CRS)\n',
 'SpaceX\n',
 'Canadian Space Agency (CSA)\n',
 'NASA (CRS)\n',
 'Spacecom\n',
 'SpaceX\n',
 'NASA (CRS)\n',
 'Sky Perfect JSATKacific 1\n',
 'SpaceX\n',
 'NASA (CTS)[497]\n',
 'SpaceX\n',
 'SpaceX\n',
 'NASA (CRS)\n',
 'SpaceX\n',
 'SpaceX\n',
 'NASA (CCDev)\n',
 'SpaceX\n',
 'SpaceXPlanet Labs\n',
 'U.S. Space Force[530]\n',
 'Republic of Korea Army\n',
 'SpaceXSpaceflight Industries (BlackSky)\n',
 'SpaceXPlanet Labs\n',
 'CONAEPlanetIQTyvak\n',
 'SpaceX\n',
 'SpaceX\n',
 'SpaceX\n',
 'SpaceX\n',
 'USSF\n',
 'NASA (CCP)[497]\n',
 'NASA / NOAA / ESA / EUMETSAT\n',
 'SpaceX\n',
 'NASA (CRS)\n',
 'Sirius XM\n',
 'NRO\n',
 'Türksat\n',
 'SpaceX\n',
 'Various\n',
 'SpaceX\n',
 'SpaceX\n',
 'SpaceX\n',
 'SpaceX\n',
 'SpaceX\n',
 'SpaceX\n',
 'SpaceX\n',
 'NASA (CTS)[497]\n',
 'SpaceX\n',
 'SpaceX\n',
 'SpaceX\n',
 'SpaceX Capella Space and Tyvak\n',
 'SpaceX\n',
 'NASA (CRS)\n',
 'Sirius XM\n']

In [20]:
df=pd.DataFrame(launch_dict)

In [23]:
df.head()
# some newline  \n errors but we will remove that

,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time
0,1,CCAFS,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX\n,Success\n,F9 v1.0B0003.1,Failure,4 June 2010,18:45
1,2,CCAFS,Dragon,0,LEO,\nNASA (COTS)\nNRO\n\n,Success,F9 v1.0B0004.1,Failure,8 December 2010,15:43
2,3,CCAFS,Dragon,525 kg,LEO,NASA (COTS)\n,Success,F9 v1.0B0005.1,No attempt\n,22 May 2012,07:44
3,4,CCAFS,SpaceX CRS-1,"4,700 kg",LEO,NASA (CRS)\n,Success\n,F9 v1.0B0006.1,No attempt,8 October 2012,00:35
4,5,CCAFS,SpaceX CRS-2,"4,877 kg",LEO,NASA (CRS)\n,Success\n,F9 v1.0B0007.1,No attempt\n,1 March 2013,15:10

In [26]:
df['Customer'] = df['Customer'].str.replace('\n','')
df['Launch outcome'] = df['Launch outcome'].str.replace('\n','')
df['Booster landing'] = df['Booster landing'].str.replace('\n','')
df.head()

,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time
0,1,CCAFS,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,F9 v1.0B0003.1,Failure,4 June 2010,18:45
1,2,CCAFS,Dragon,0,LEO,NASA (COTS)NRO,Success,F9 v1.0B0004.1,Failure,8 December 2010,15:43
2,3,CCAFS,Dragon,525 kg,LEO,NASA (COTS),Success,F9 v1.0B0005.1,No attempt,22 May 2012,07:44
3,4,CCAFS,SpaceX CRS-1,"4,700 kg",LEO,NASA (CRS),Success,F9 v1.0B0006.1,No attempt,8 October 2012,00:35
4,5,CCAFS,SpaceX CRS-2,"4,877 kg",LEO,NASA (CRS),Success,F9 v1.0B0007.1,No attempt,1 March 2013,15:10

In [28]:
#Checking for any more!!!
import numpy as np
mask = np.column_stack([df[col].str.contains(r"\n", na=False) for col in df])
df.loc[mask.any(axis=1)]

Empty DataFrame
Columns: [Flight No., Launch site, Payload, Payload mass, Orbit, Customer, Launch outcome, Version Booster, Booster landing, Date, Time]
Index: []

### None left so lets save it

In [25]:
df.to_csv('web_scraped_launch_data.csv',index=True)

# Done webscraping the data! Saved for dashboarding